.tailwind-products-carousel {
    position: relative;
    
    .block-products-list {}

    .block-content {
        @apply w-full overflow-auto;
        scroll-snap-type: x mandatory;

        @media (pointer: fine) {
            scroll-snap-type: initial;
        }

        @media (min-width:992px) {
            scrollbar-width: none;
    
            &::-webkit-scrollbar {
                display: none;
            }
        }
    }

    .block-content > .grid {
        @apply flex gap-0 flex-nowrap;
    }

    .product-item {
        @apply m-0 px-2 py-0;
        flex: 0 1 50%;
        min-width: 50%;
        scroll-snap-align: start;

        @media (min-width:992px) {
            flex: 0 1 20%;
            min-width: 20%;
        }
    }

    .twc-next,
    .twc-prev {
        @apply text-primary m-0 hidden lg:block;
        @apply absolute top-auto bottom-full mb-3 opacity-100;
        @apply w-5 h-5 bg-contain bg-no-repeat bg-center overflow-hidden indent-5;
        background-image: var(--carousel-arrow);

        &:disabled {
            @apply opacity-25;
        }

    }

    .twc-next {
        @apply right-2;
    }
    
    .twc-prev {
        @apply right-10 rotate-180;
    }

    .twc-nav {
        @apply flex lg:hidden justify-center items-center gap-2 px-4 min-h-8;
        @apply lg:flex;

        > button {
            @apply border-none bg-container opacity-100 w-2 h-2 rounded-full overflow-hidden indent-5;

            &[data-active="true"] {
                @apply bg-tertiary opacity-100 w-3 h-3;
            }
        }
    }
}